/*
CSE 442: Data Visualization
Assignment 3: Interactive Visualization
Names:  Anika Padwekar
        Kwing Li
        McKinnon Williams
        Nicole Garakanidze
*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
    background-color: #222222;
    color: #666666;
    font-family: 'Playfair Display', serif;
    margin: 80px;
}

h1 {
    color: #d1d1d1;
    margin: 25px;
}

footer {
    font-size: 12px;
    margin-top: 40px;
    text-align: right;
}

svg {
    display: flex;
    margin: auto;
}

p {
    text-indent: 30px;
}

.flex-container {
    /*
    border: 1px #ccc solid;
    */
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.sliders {
    flex: 1;
}

.text {
    flex: 2;
}

.states {
    fill: none;
    stroke: #d1d1d1;
    stroke-width: 2.5;
}

.counties {
    fill: none;
    stroke: #d1d1d1;
    stroke-width: 1.0;
}

.slider-sel {
    font-size: 30px;
    color: #d1d1d1;
}
