/*
CSE 442: Data Visualization
Assignment 3: Interactive Visualization
Names:  Anika Padwekar
        Kwing Li
        McKinnon Williams
        Nicole Garakanidze
*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
    background-color: #222222;
    color: #666666;
    font-family: 'Playfair Display', serif;
    margin: 80px;
    align-content: center;
}

h1 {
    color: #d1d1d1;
    margin-bottom: 40px;
}

footer {
    font-size: 12px;
    margin-top: 40px;
}

svg {
    display: flex;
    margin: auto;
}

.flex-container {
    /*
    border: 1px #ccc solid;
    */
    display: flex;
    justify-content: center;
}

.sliders {
    flex: 1;
}

.text {
    flex: 2;
}

.states {
    fill: #ffffff;
    stroke: #d1d1d1;
    stroke-width: 0.5;
}